build/
.gradle/
bin/

run/
.idea/
*.iml
*.iws
*.ipr

.settings/
.classpath
.project

.DS_Store

hs_err_pid*

*.log
*.tmp


minecraft/.mixin.out
coremods
crash-reports
data
datapacks
defaultconfigs
downloads
local
logs
moddata
mods
resourcepacks
libs


